html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.posa{
    position: absolute;
}

.posr{
    position: relative;
}
